*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    padding: 0;
    background-color:#fcff80;
    font-family: 'Unbounded', cursive;
    font-family: 'Covered By Your Grace', cursive;
  }
  
  .menu{
    list-style: none;
    line-height: 42px;
    margin: 0.5em;
    padding: left 0;
    width: 100%;
    display: flex;
    justify-content:left;
  }

  .menu a{
    color: black;
    text-decoration: none;
    display: block;
    width: 100%;
  }
  .menu a:hover{
    margin-left: 2em;
  }

  .menu li{
   box-shadow:6px 0 #2BE7C5 inset;
    margin-bottom: 3px;
    padding-left: 0.5em;
    transition: all .8s;
  }

  .menu li:hover{
    box-shadow: 15em 0 #2BE7C5 inset;;

  }
  
   .flex-cont {
    width: 75vw;
    max-width: 1000px;
    min-width: 320px;
    margin: auto;
    background: #fcff80;
    padding: 5px;
    display: flexbox;
    width: 220px;
    flex-wrap:wrap;  
    justify-content:right;
    
  
  }
  
  .flex-box {
    background-color:white;
    width: 190px;
    height: 190px;
    text-align: center;
    border-radius:110%;  
    flex-wrap:wrap;
    justify-content:right;
    margin-bottom: 30px;
   
  }
  
  .cardsContainer{
    display:flex;
    flex-flow: row wrap;
    width: 1150px;
    justify-content:right;
    width: 100%;
    margin: auto;
     }
  
   #img {
    width: 100vw;
    height: 7vw;
   }
   #select-order {
    border-radius: 15px;
    padding: 16px 32px; 
    font-size: 16px;
    margin: 4px 2px;
   }

   #select-generation {
    border-radius: 15px;
    padding: 16px 32px; 
    font-size: 16px;
    margin: 4px 2px;
   }

   .button  {
    border-radius: 15px;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
   @media (max-width: 500px) {
    nav{
      display: flex;
      flex-direction: column;
     }
    .nav-1{
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
      width: 18%;
     }
     #select-order{
      width: 130px;
     }

     #select-order{
      font-size: 10px;
      padding: 10px 15px;
     }

    }
     .nav-2{
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
      width: 18%;
     }

     #select-generation{
      width: 130px;
    }
     #select-generation{
      font-size: 10px;
      padding: 10px 15px;
     }
  
    

    /* START MODAL */

  /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position:absolute; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modalDialog {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 100ms ease-in;
  -moz-transition: opacity 100ms ease-in;
  transition: opacity 100ms ease-in;
  pointer-events: none;
}
.modalDialog:target {
  opacity:2;
  pointer-events: auto;
}
.modalDialog > section {
  max-width: 400px;
  width: 90%;
  position: relative;
  margin: 10% auto;
  padding: 20px;
  border-radius: 50px;
  background: lightgrey;
  text-align: center;
}

.close {
  font-family: Arial, Helvetica, sans-serif;
  background:red;
  color: #fff;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 34px;
  height: 34px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
  padding-top: 5px;
}
.close:hover {
  background: red;
}


   /* END MODAL */